mixin feeData(user)
    tr.feeContainer(data-id=user._id)
        td.data__user__fee
            a(href=`/user/${user._id}`) #{user.name}
        td
            span.currentFee=user.fee
        td
            input(type="submit", value="5000추가").plusFee
        td
            input(type="submit", value="5000감소").minusFee
        td
            input(placeholder="0", type="number").submitFee
        td
            span.currentPenalty=user.penalty
        td
            input(placeholder="0", type="number").plusPenalty
        td
            input(placeholder="0", type="number").minusPenalty
        td
            input(placeholder="0", type="number").submitPenalty
        td
            input(type="submit", value="저장").btnSubmitFee