mixin userData(userData)
    tr.userContainer(data-id=userData._id)
        td
            a(href=`/user/${userData._id}`) #{userData.name}(#{userData.snum})
        td
            span 벌금 : #{parseInt(userData.fee)+parseInt(userData.penalty)}
        if loggedInUser.admin
            if !userData.admin
                if !userData.manager
                    td
                        button.btnGrantManager 총무임명
                else
                    td
                        button.btnRevokeManager 총무제명
                td
                    button.btnGrantAdmin 랩장위임
                td
                    button.btnUserDelete 회원삭제