mixin userData(userData)
    a(href=`/user/${userData._id}`) #{userData.name}(#{userData.snum})
    span=parseInt(userData.fee)+parseInt(userData.penalty)
    if loggedInUser.admin
        a(href=`/user/${userData._id}/grant-admin`) 랩장위임
        a(href=`/user/${userData._id}/grant-manager`) 총무임명
        a(href=`/user/${userData._id}/leave`) 회원삭제
    div