mixin userData(userData)
    ul
        li
            a(href=`/user/${userData._id}`) #{userData.name}(#{userData.snum})
        li
            p 벌금 : #{parseInt(userData.fee)+parseInt(userData.penalty)}
        if loggedInUser.admin
            li
                a(href=`/user/${userData._id}/grant-manager`) 총무임명
            li
                a(href=`/user/${userData._id}/grant-admin`) 랩장위임
            li
                a(href=`/user/${userData._id}/leave`) 회원삭제