extends base.pug

block content
    if errorMessage 
        div=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") 대표 이미지
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(value=loggedInUser.name, placeholder="이름", type="text", name="name", required)
        input(value=loggedInUser.email, placeholder="이메일", type="email", name="email", required)
        input(value=loggedInUser.snum, placeholder="학번", type="number", name="snum", required)
        input(value=loggedInUser.birthDay, type="date", name="birthDay", required).birthDay
        input(type="hidden", value=loggedInUser.birthDay).birthDayValue
        input(type="submit", value="변경")
    script(src="/assets/js/transformDate.js")