extends base.pug

block content
    ul
        if user.avatarUrl
            img(src="/" + user.avatarUrl, width="100", height="100")
        else
            li 대표 이미지 없음
        li 이름 : #{user.name}
        li 이메일 : #{user.email}
        if user.attendance
            li 출석현황 : 완료
        else
            li 출석현황 : 미완료
    a(href=`/user/${user._id}/edit-profile`) 정보 수정하기 &rarr;
    br
    if !user.socialOnly
        a(href=`/user/${user._id}/edit-password`) 패스워드 수정하기 &rarr;
        br
    a(href=`/user/${user._id}/leave`) 회원탈퇴